:root {
    --orange: #FFBD15;
    --orange-100: #FFA200;
    --input-color: rgba(255, 255, 255, 0.55);
    --text-white: #fff;
    --border-radius: 10px;
    --sidebar-background-color: #D8DBE0;
    --footer-color: #004674;
    --sidebar-width: 300px;
    --blue-100: #0085FF;
    --blue-200: #729AE9;
    --blue-300: #004674;
    --blue-400: #112A42;
    --slate-100: #E0F2FE;
    --red: #FF0000;
    --gray: #D2D2D2;
    --gray-100: #D9D9D9;
    --gray-200: #9A9A9A;
    --header-height: 77px
}
*{
    /* border: solid greenyellow 1px; */
}
nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.btn {
    background-color: transparent;
    border: none;
}

body {
    background-image: url(../images/rectangle-1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

body>div.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 !important;
    gap: 20px;
}

.hero {
    height: 100vh;
}

.main>div {
    width: 40% !important;
}

#logo {
    display: flex;
    justify-content: center;
}

.login {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn {
    width: 200px;
    border-radius: 10px;
    padding: 10px 25px;
    box-shadow: 7px 7px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--orange);
    font-size: 30px;
    font-weight: 700;
    font-family: Poppins;
}

.btn-parent {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.input {
    gap: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: var(--input-color);
    border-radius: 10px;
    border: 3px solid #000;
    width: fit-content;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.input input {
    color: #000;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    width: 325px;
    border-radius: 10px;
    height: 40px;
    background-color: transparent;
}

input:focus {
    border: none;
    outline: none;
}

.main-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0 !important;
    color: var(--text-white);
}

.main-text h3 {
    text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    font-size: 50px !important;
    font-weight: 700;
}

.main-text h4 {
    font-size: 40px !important;
    font-weight: 700;
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);

}

.sidebar {
    width: var(--sidebar-width);
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: var(--sidebar-background-color);
    height: 100vh;
}

.sidebar .logo {
    padding: 10px;
    font-size: 14px;
    font-family: Poppins;
    gap: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
}

.sidebar .navbar .footer #timestamp {
    color: var(--orange);
    font-size: 20px;
}

.sidebar .navbar .footer #date {
    color: var(--text-white);
    font-size: 20px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    background-color: var(--footer-color);
    border-radius: 10px 10px 0 0;
    padding: 10px 10px 0 10px;
}

.footer>.status>.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-white);
    border-bottom: 2px solid #000;
}

.footer>.time {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer>.status>.content {
    transition: all 300ms linear;
    display: grid;
    font-weight: 600;
    color: var(--gray-200);
    height: 280px;
    overflow-y: scroll;
    padding: 10px 0px;
    border-bottom: 2px solid #000;
}

.footer>.status>.content.active {
    height: 0px;
    opacity: 0;
    padding: 0;
}

.footer>.status>.content>div {
    display: flex;
    align-items: center;
}

.footer>.status>.content>div.teacher {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer>.status>.content>div.teacher>div {
    list-style: disc;
    color: white;
}

.footer>.status>.content>div>label {
    display: block;
    width: 10rem;
}

.footer>.status>.content>div>label::after {
    content: ":";
    float: right;
    width: 10px;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - (var(--header-height) + 60px));
    overflow: auto;
}

.navbar ul li a {
    padding: 10px 30px 10px 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}

.navbar ul li a:hover {
    transition: 0.5s;
    background-color: var(--text-white);
}

.navbar ul li.active {
    background-color: var(--text-white);
}

.navbar>nav>ul {
    flex-direction: column;
    display: flex;
    align-items: left;
}

.header {
    z-index: 20;
    width: calc(100% - var(--sidebar-width));
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    background-color: var(--orange-100);
    height: var(--header-height);
}

.container {
    width: 100%;
    margin: 0 20px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.container>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container>div>svg {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.container h3 {
    font-size: 30px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.user {
    text-align: end;
    display: flex;
    flex-direction: column;
}

.user p {
    font-size: 20px;
    font-weight: 700;
}

.user span {
    font-size: 15px;
}

main {
    z-index: -10;
    width: calc(100% - var(--sidebar-width));
    height: 100vh;
    position: absolute;
    right: 0;
}

.main {
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: start;
    max-width: 1500px;
    margin: 0 auto;
}

.main>div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100% !important;
}

.card {
    padding: 15px;
    border-radius: 10px;
}

.welcome {
    background-color: var(--blue-300);
    color: var(--text-white);
    font-weight: 500;
}

.welcome>span {
    font-size: 25px;
}

.welcome>h3 {
    font-size: 30px;
    font-weight: 600;
}

.welcome>p {
    font-size: 25px;
}

.selayang-padang {
    background-color: var(--slate-100);
    height: auto;
}

.selayang-padang p {
    font-size: 17px;
}

.selayang-padang h3 {
    font-size: 30px;
}

.selayang-padang h5 {
    margin: 10px 0;
    font-size: 15px;
}

.selayang-padang h5 span {
    font-weight: 500;
}

.selayang-padang>span {
    font-size: 30px;
}

.shadow {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.divider {
    margin: 5px 0;
    width: 70px;
    height: 7px;
    background-color: var(--orange-100);
}

.date-time {
    background-color: var(--orange-100);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date-time div {
    gap: 10px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: white;
}

.date-time div .alert {
    color: var(--red);
}

.history {
    background-color: var(--blue-400);
    color: var(--text-white);
    height: 20.5rem;
    overflow: auto;
}

.history-date {
    height: 100%;
}

.history h3 {
    border-bottom: 2px solid var(--text-white);
}

.history>div {
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-white);
}

.history>div>span {
    color: var(--blue-100);
}

.history>div>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

::-webkit-scrollbar {
    position: absolute;
    z-index: 10;
    height: 5px;
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
}

.menu {
    margin: 10px 20px;
    background: var(--orange-100);
    padding: 10px;
    border: 3px solid #000;
    border-radius: 7px;
}

.menu>h3 {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.menu>div.major {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.major>button {
    background-color: var(--gray);
    border: none;
    padding: 5px 0;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.major>button:hover {
    transition: 0.7s;
    background-color: var(--slate-100);
}


.major>button.active {
    background-color: var(--slate-100);
}

.menu>div.class {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.class>select {
    border-radius: 5px;
}

.class>select>option {
    position: absolute;
}

.menu>div.subject {
    display: grid;
    grid-template-areas:
        '. .'
        'select select';
    gap: 10px;
}

.subject>button {
    background-color: var(--gray);
    border: none;
    padding: 5px 0;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.subject>button:hover {
    transition: 0.7s;
    background-color: var(--slate-100);
}

.subject>button:focus {
    transition: 0.7s;
    background-color: var(--slate-100);
}

.subject>button.active {
    background-color: var(--slate-100);
}

.menu>div.subject>select {
    width: 100%;
    grid-area: select;
    height: 31px;
    border-radius: 5px;
}

main.presensi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.card-2 {
    background: #FFF;
    border-radius: 10px;
}

.card-2>h3 {
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    color: white;
    width: 100%;
    background-color: var(--blue-300);
}

.card-2>div {
    padding: 10px 20px 20px 20px;
}

.card-2>div>textarea {
    width: 100%;
    border: none;
    background-color: var(--gray-100);
    padding: 10px;
    border-radius: 10px;
}

.btn-blue {
    background-color: var(--blue-200);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    font-family: Poppins;
    border: none;
    grid-area: button;
}

.d-flex {
    display: flex;
    width: 100%;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.items-center {
    align-items: center;
}

.d-none {
    opacity: 0;
}

#status-hide {
    rotate: 0deg;
}

#status-hide:hover {
    transition: 0.5s;
    width: calc(21px + 2px);
    height: calc(21px + 2px);
}

#status-hide.active {
    rotate: 180deg;
}

.presensi-data {
    padding-top: calc(var(--header-height) + 20px);
    padding-left: 10px;
    padding-right: 10px;
}

.presensi-data>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presensi-data>div>h3 {
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    background-color: var(--footer-color);
    width: fit-content;
    color: var(--text-white);
}

table.table {
    overflow: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0px;
}

table.table>thead {
    background: rgba(217, 217, 217, 0.85);
}

table.table>thead>tr>th:first-child {
    border-radius: 5px 0 0 0;
}

table.table>thead>tr>th:last-child {
    border-radius: 0 5px 0 0;
}

table.table>tbody>tr:last-child>td:first-child {
    border-radius: 0 0 0 5px;
}

table.table>tbody>tr:last-child>td:last-child {
    border-radius: 0 0 5px 0;
}

table.table>tbody {
    background-color: var(--text-white);
}

th {
    padding: 10px 0;
}

th,
td {
    border: 1px solid black;
}

table.table>tbody>tr>td>label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.modal-1 {
    background-color: transparent;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 400px;
    border: none;
}

.sidebar>button.menu-btn {
    height: fit-content;
    position: fixed;
    z-index: -10;
    left: 5px;
    display: none;
    top: 25px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
}

.sidebar:hover>button.menu-btn {
    left: 0;
}

.modal-1>button {
    position: fixed;
    right: 0;
    top: -38px;
    border-radius: 5px 5px 0 0;
    background-color: red;
    border: none;
    padding: 1px 3px;
    border: 1px solid black;
}

div::backdrop {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.modal-1>h3 {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    border-radius: 10px 0 0 0;
    background-color: var(--orange-100);
}

.modal-1>div {
    border: 1px solid black;
    background-color: var(--blue-300);
    padding: 15px;
    border-radius: 0 0 10px 10px;
}

.modal-1>div>textarea {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
}

dialog {
    position: absolute;
    z-index: 30;
    overflow: visible !important;
    border: 1px solid black;
}

dialog[open] {
    background-color: rgba(105, 105, 105, 0.34);
    opacity: 1;
}


.modal-2 {
    background-color: transparent;
    border: 0;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 351px;
}

.modal-2>div {
    border-radius: 10px;
    text-align: center;
    background: #D9D9D9;
    padding: 30px 20px;
}

.modal-2>div>div {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.modal-2>div>div>button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #F1F1F1;
}

.modal-3 {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    text-align: center;
}

.modal-3>h3 {
    background: #D9D9D9;
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
}

.modal-3>div {
    padding: 10px 20px;
}

.modal-3>div>div {
    margin-top: 10px;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.modal-3>div>div>button {
    padding: 5px 10px;
    border-radius: 5px;
}

.modal-3>div>p {
    text-align: start;
}

.modal-3>button {
    position: fixed;
    top: -38px;
    right: 0;
    border-radius: 5px 5px 0 0;
    background-color: red;
    border: none;
    padding: 1px 3px;
    border: 1px solid black;
}

.form-control {
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.form-control:focus {
    border: 1px solid black;
}

.form-group {
    display: flex;
    gap: 10px;
}

.form {
    display: grid;
    gap: 10px;
}

.welcome-selayang {
    justify-content: space-between;
    height: 100%;
}

.container>div>button:focus>.user-dropdown {
    display: block;
}

.user-dropdown:hover {
    display: block;
}

.user-dropdown {
    transition: all 300ms;
    display: none;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    position: absolute;
    right: 0;
    padding: 10px 20px;
    border-radius: 10px;
}

.user-dropdown h3 {
    font-size: 20px;
}

.user-dropdown-content {
    margin-top: 10px;
    display: grid;
    gap: 10px;
    margin-right: 10px;
}

.user-dropdown-content a {
    display: flex;
    justify-content: end;
    gap: 20px;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 700;
}

.user-dropdown-content>form>a>input[type="submit"] {
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    font-weight: 700;
}

.header>.container>div>button {
    background-color: transparent;
    border: none;
}

@media (max-width: 500px) {
    .main-text {
        margin-bottom: 10px;
    }

    .main-text>h3 {
        font-size: 30px !important;
    }

    .main-text>h4 {
        font-size: 20px !important;
    }

    .login>.input {
        width: 350px;
    }

    .login>.input>input {
        width: 100%;
    }

    .sidebar {
        transition: all 300ms;
        z-index: 40;
        left: calc(var(--sidebar-width) * -1);
    }

    .header {
        width: 100%;
        left: 0;
    }

    .sidebar:hover {
        left: 0;
    }

    .header>.container>h3 {
        margin-left: 10px;
    }

    .sidebar>button.menu-btn {
        display: block;
    }

    .sidebar:hover>button.menu-btn {
        opacity: 0;
    }

    .header>.container>div>.user>p {
        font-size: 1rem;
    }

    .header>.container>h3 {
        font-size: 1.3rem;
    }

    .header>.container>div>.user>span {
        font-size: 0.8rem;
    }

    .header>.container>div>svg {
        width: 40px;
    }

    .hero {
        height: 150vh !important;
    }

    .main {
        margin-top: 6rem;
        flex-direction: column;
    }

    .main>div {
        width: 300px !important;
    }

    main {
        left: 0;
        width: inherit;
    }

    .card.date-time>div>span {
        font-size: 1.05rem;
    }

    .card.date-time>div>svg {
        width: 40px;
    }

    .presensi {
        max-width: 300px !important;
        margin: 0 auto;
    }

    .presensi>.card-2 {
        width: 350px !important;
    }

    table.table {
        max-width: 100px !important;
        margin: 0 auto;
        overflow: hidden !important;
    }

    .table>thead>tr>th {
        padding: 0 10px;
    }

    .table>tbody>tr>td {
        padding: 0 10px;
    }

    .main>div {
        gap: 10px;
    }

    .main {
        gap: 10px !important;
    }

    main>.d-flex {
        height: auto !important;
    }
}

@media (max-width: 375px) {
    .hero {
        background-position: center;
        height: 170vh !important;
    }

    .presensi {
        margin-top: 20px;
    }

    main>.d-flex {
        height: auto !important;
    }
}

@media (max-width: 1370px) {
    .hero {
        height: 100vh;
    }

    .main {
        max-width: 1000px;
        gap: 30px;
    }

    .welcome>span {
        font-size: inherit;
    }

    .welcome>h3 {
        font-size: 20px;
    }

    .welcome>p {
        font-size: inherit;
    }

    .selayang-padang>h3 {
        font-size: 20px;
    }

    .selayang-padang>p {
        font-size: inherit;
    }

    .card-2 {
        width: 900px !important;
    }

    main.presensi {
        padding-top: 40px;
        gap: 10px !important;
    }

    main.presensi>.button {
        max-width: 900px !important;
    }

    div.main {
        max-width: 900px;
        max-height: 500px;
        height: 65% !important;
    }

    main>.d-flex {
        height: 100vh;
    }
}

main>.d-flex {
    height: 100vh;
}

main>.d-flex>.main {
    height: 50%;
}

.presensi>.d-flex {
    height: auto;
}

.sidebar-show {
    left: 0;
}

.menu-confirm {
    background-color: var(--blue-200);
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 700;
    margin: 0 20px 10px 20px;
}

td button {
    background-color: transparent;
    border: none;
}

td button:focus {
    border: none;
}